<div class="landing-page">
  <div *ngIf="!currentUser; else loggedIn">
    <h4>Get started by selecting from the following</h4>
    <div class="loginButtons">
      <button [routerLink]="['/login']" routerLinkActive="true" mat-raised-button color="primary">Login</button>
      <button [routerLink]="['/register']" routerLinkActive="true" mat-raised-button color="accent">Register</button>
    </div>
  </div>
  <ng-template #loggedIn>
    <h4>You Have Been Logged In!</h4>
    <button [routerLink]="['/home']" routerLinkActive="true" >Home</button>
  </ng-template>
</div>