<header>
  <h2><a [routerLink]="['/']">My Banking App</a></h2>
  <nav>
    <li *ngIf="!currentUser"><a [routerLink]="['/login']"  routerLinkActive="true">Login</a></li>
    <li *ngIf="!currentUser"><a [routerLink]="['/register']" routerLinkActive="true" >Register</a></li>
    <li *ngIf="currentUser"><a (click)="logout()">Logout</a></li>
  </nav>
</header>
<div class="main">
  <h2>Welcome to My Banking App<span *ngIf="currentUser">, {{ currentUser.name }}</span>!</h2>
  <div *ngIf="message" class="message" (click)="close()">
    <p>{{ message }}</p>
    <i class="material-icons">close</i>
  </div>
</div>

<router-outlet></router-outlet>