<header>
  <h2><a [routerLink]="['/']">My Banking App</a></h2>
  <nav>
    <li *ngIf="!currentUser"><a [routerLink]="['/login']">Sign in</a></li>
    <li *ngIf="!currentUser"><a [routerLink]="['/registger']">Register</a></li>
    <li *ngIf="currentUser"><a (click)="logout()">Logout</a></li>
  </nav>
</header>
<div class="container">
  <div *ngIf="message" class="message" (click)="close()">
    <p>{{ message }}</p>
    <i class="material-icons">close</i>
  </div>
</div>

<router-outlet></router-outlet>