* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html{ 
    text-align: center; 
    background-color: #f0f2f7;
    scroll-behavior: smooth;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    position: absolute;
    top: 0;
    width: 100%;
    padding-bottom: 6vh;
}