.home {
    margin: 20px auto 0;
}

.user-actions {
    /* border: 1px solid #a6acbc; */
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 550px;
    max-width: 100%;
    margin: 30px auto;
    padding: 20px 40px 40px;
    box-shadow: 10px 10px 40px rgba(0,0,0,0.08), 2px 2px 8px rgba(0,0,0,0.2);
}

@media (max-width: 600px) {
    .user-actions {
        width: 100%;
    }
}

.user-actions tr {
    align-items: center;
}

.user-actions td {
    font-size: 1em;
    padding: 15px 20px;
}

.user-actions .action-head {
    text-align: left;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    padding: 25px 0 10px;
    border-bottom: 2px solid #d9e1f4;
}

.user-actions button {
    padding: 0 25px;
    width: 175px;
}

.user-actions .user-value {
    padding-left: 25px;
    text-align: left;
}
