<div class="home">
    <h2>Welcome to My Banking App, {{ currentUser.name }}</h2>
    <div *ngIf="currentUser.status === 'open'; then open else notOpen"></div>
    <ng-template #open>
        <table>
            
        </table>
    </ng-template>
    <ng-template #notOpen>
        <div *ngIf="currentUser.status === 'pending'">
            <p>Your account status is currently is pending and waiting for approval. Please try back in a few moments!</p>
        </div>
        <div *ngIf="currentUser.status === 'closed'">
            <p>Sorry, your account has been closed (awkward...)</p>
        </div>
    </ng-template>
</div>

